.div{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.b1{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.b2{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.boton1{
  background-color: antiquewhite;
  width: 450px;
  height: 30px;
}
 body {
  background-image: url("./components/img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
 
  
  
 }